
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgba(2, 2, 94, 0.829);
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    display: flex;
    justify-content: center;
    background-color: rgba(138, 243, 243, 0.795);
    font-family: 'Courier New', Courier, monospace;
    color: rgba(20, 20, 20, 0.904);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: 100px;
    margin-right: 300px;
    margin-left: 300px;
    padding-top:35px;
    padding-bottom: 30px;
}

.menu h1 {
    margin-left: 5px;
}

.menu img {
    height: 50px;
}

.register-info {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(160, 158, 158);
    margin-right: 300px;
    margin-left: 300px;
    padding-top:50px;
    padding-bottom: 50px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

form input {
    border-radius: 10px;
    height: 25px;
	border: none;
    width: 350px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

form select {
    border-radius: 10px;
    height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: white;
}

.radio {
    width: 20px;
    margin-left: 12px;
    margin-right: 5px;
}

.option-label {
    margin-top: 5px;
}

.radio-div {
    display: flex;
}

label {
    display: inline-block;
}

/* Chrome etc */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.botoes {
	display: flex;
	justify-content: space-between;
}

.botoes input {
    width: 160px;
	height: 35px;
    margin-top: 15px;
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(-50deg, #1cabd5, #27158dab);
    font-size: 16px;
	font-weight:bold;
	cursor: pointer;
}

.botoes input:hover{
    background-color:#27158dab;
    color:white;
}

footer {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    color: rgb(172, 169, 169);
    font-family: 'Courier New', Courier, monospace;
}

.icons img {
    height: 25px;
    margin-left: 5px;
    margin-top: -7px;
}
